@import "src/App";

.container {
  &__left-side {

  }

  &__right-side {
    .navbar {

      &__body {

      }
      &__item {
        padding: 10px 15px;
        cursor: pointer;
        border-bottom: 1px solid $borderGrey;
        transition: background 0.2s ease-in-out;
        &:last-child {
          border: none;
        }
        &:hover {
          background-color: darken(#fff, 3%);
        }
        &:active {
          transition: background 0.1s ease-in-out;
          background-color: darken(#fff, 5%);
        }
      }
    }
  }
}