@import "src/App";

.container {
  &__left-side {

  }

  &__right-side {
    .navbar {
      position: fixed ;
      width: 285px;

      &__body {

      }

      &__item {
        padding: 10px 15px;
        cursor: pointer;
        border-bottom: 1px solid $borderGrey;
        transition: background, border 0.1s ease-in-out;
        color: #000000;

        &:hover {
          background-color: darken(#fff, 2%);
          border-left: 4px solid $mainColor2;
        }

        &:active {
          background-color: darken(#fff, 3%);
          border-left: 4px solid $mainColor2;
        }

      }

      .active {
        background-color: darken(#fff, 3%);
        border-left: 4px solid $mainColor2;
      }
    }

  }
}